{% extends 'management.html' %}
{% load static %}





{% block management %}
    
<style>
.bg-warning
{
  background: #ffa426!important;
}

</style>
<section class="section">
    <div class="row">     
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">Gestão de Cursos
              <div class="dropdown d-inline ml-2">
                      {% if month == '1' %}                      
                      <a href="#" class="font-weight-600 dropdown-toggle"> Janeiro</a>
                      {% elif month == '2' %}
                      <li><a href="#" class="font-weight-600 dropdown-toggle"> Fevereiro</a></li>
                      {% elif month == '3' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Março</a>
                      {% elif month == '4' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Abril</a>
                      {% elif month == '5' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Maio</a>
                      {% elif month == '6' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Junho</a>
                      {% elif month == '7'  %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Julho</a>
                      {% elif month == '8' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Agosto</a>
                      {% elif month == '9' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Setembro</a>
                      {% elif month == '10' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Outubro</a>
                      {% elif month == '11' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Novembro</a>
                      {% else %}
                      <a href="#" class="font-weight-600 "> Dezembro</a>
                      {% endif %}                      
              </div>
            </div>
            <div class="card-stats-items">
                    <div class="card-stats-item">
                      {% if condominio.lancamento_futuro > 0%}
                      <div class="card-stats-item-count">{{ condominio.lancamento_futuro  }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Projetos</div>
                    </div>
                    <div class="card-stats-item">
                      {% if condominio.receitas > 0 %}
                      <div class="card-stats-item-count text-su">{{ condominio.receitas }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Ativos</div>
                    </div>
                    <div class="card-stats-item">
                      {% if condominio.inadinplencia > 0 %}
                      <div class="card-stats-item-count">R$:{{ condominio.inadinplencia }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Cancelados</div>
                    </div>
            </div>
          </div>
          <div class="card-icon shadow-primary ">
            <i class="fas fa-id-card"></i>
          </div>
          <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total de Cursos</h4>
                  </div> 
                  {% if receitas_valor_total > 0 %}               
                  <div class="card-body">
                   <span class="text-success"> + {{ receitas_valor_total }}</span>
                  </div>
                  {% elif receitas_valor_total < 0 %}
                  <div class="card-body">
                    <span class="text-danger"> {{ receitas_valor_total }}</span> 
                   </div> 
                   {% else %}
                   <div class="card-body">
                    0
                   </div> 
                   {% endif %}                  
          </div>
        </div>
      </div> 
      <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="card card-statistic-2">
                <div class="card-stats">
                  <div class="card-stats-title">Gerenciamento de Alunos
                    <div class="dropdown d-inline">
                      {% if month == '1' %}                      
                      <a href="#" class="font-weight-600 dropdown-toggle"> Janeiro</a>
                      {% elif month == '2' %}
                      <li><a href="#" class="font-weight-600 dropdown-toggle"> Fevereiro</a></li>
                      {% elif month == '3' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Março</a>
                      {% elif month == '4' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Abril</a>
                      {% elif month == '5' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Maio</a>
                      {% elif month == '6' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Junho</a>
                      {% elif month == '7'  %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Julho</a>
                      {% elif month == '8' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Agosto</a>
                      {% elif month == '9' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Setembro</a>
                      {% elif month == '10' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Outubro</a>
                      {% elif month == '11' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Novembro</a>
                      {% else %}
                      <a href="#" class="font-weight-600 "> Dezembro</a>
                      {% endif %}                      
                    </div>
                  </div>
                  <div class="card-stats-items">
                    <div class="card-stats-item">
                      {% if despesas_aberta > 0 %}
                      <div class="card-stats-item-count">{{ despesas_aberta  }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Ativos</div>
                    </div>
                    <div class="card-stats-item">
                      {% if despesas_paga > 0 %}
                      <div class="card-stats-item-count text-su">R$: {{ despesas_paga }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Pagantes</div>
                    </div>
                    <div class="card-stats-item">
                      {% if despesas_atrasadas > 0 %}
                      <div class="card-stats-item-count">{{ despesas_atrasadas }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Cancelados</div>
                    </div>
                  </div>
                </div>
                <div class="card-icon shadow-primary ">
                  <i class="fas fa-child"></i>
                </div>
                <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total de Alunos</h4>
                  </div> 
                  {% if condominio.despesas > 0 %}               
                  <div class="card-body">
                      <span class="text-success"> + {{ condominio.despesas }}</span>
                  </div>
                  {% elif condominio.despesas < 0 %}
                  <div class="card-body">
                    <span class="text-danger"> {{ condominio.despesas }}</span> 
                   </div> 
                   {% else %}
                   <div class="card-body">
                    0
                   </div> 
                   {% endif %}                  
                </div>
      </div>
      </div> 
          <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">Gestão de Professores
              <div class="dropdown d-inline ml-2">
                      {% if month == '1' %}                      
                      <a href="#" class="font-weight-600 dropdown-toggle"> Janeiro</a>
                      {% elif month == '2' %}
                      <li><a href="#" class="font-weight-600 dropdown-toggle"> Fevereiro</a></li>
                      {% elif month == '3' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Março</a>
                      {% elif month == '4' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Abril</a>
                      {% elif month == '5' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Maio</a>
                      {% elif month == '6' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Junho</a>
                      {% elif month == '7'  %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Julho</a>
                      {% elif month == '8' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Agosto</a>
                      {% elif month == '9' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Setembro</a>
                      {% elif month == '10' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Outubro</a>
                      {% elif month == '11' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Novembro</a>
                      {% else %}
                      <a href="#" class="font-weight-600 "> Dezembro</a>
                      {% endif %}                      
              </div>
            </div>
            <div class="card-stats-items">
                    <div class="card-stats-item">
                      {% if condominio.lancamento_futuro > 0%}
                      <div class="card-stats-item-count">{{ condominio.lancamento_futuro  }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Analise</div>
                    </div>
                    <div class="card-stats-item">
                      {% if condominio.receitas > 0 %}
                      <div class="card-stats-item-count text-su">{{ condominio.receitas }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Ativos</div>
                    </div>
                    <div class="card-stats-item">
                      {% if condominio.inadinplencia > 0 %}
                      <div class="card-stats-item-count">R$:{{ condominio.inadinplencia }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Cancelados</div>
                    </div>
            </div>
          </div>
          <div class="card-icon shadow-primary ">
            <i class="fas fa-user-tie"></i>
          </div>
          <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total de Professores</h4>
                  </div> 
                  {% if receitas_valor_total > 0 %}               
                  <div class="card-body">
                   <span class="text-success"> + {{ receitas_valor_total }}</span>
                  </div>
                  {% elif receitas_valor_total < 0 %}
                  <div class="card-body">
                    <span class="text-danger"> {{ receitas_valor_total }}</span> 
                   </div> 
                   {% else %}
                   <div class="card-body">
                    0
                   </div> 
                   {% endif %}                  
          </div>
        </div>
      </div>        
    </div>
      <div class="section-body">
      <div class="row">
      {% for prazo in prazos %}         
        <div class="col-12">
          <div class="courses-container">
            <div class="course">
              <div class="course-preview">                      
                <img class="img_calendar" src="{% static 'img/calendar.png' %}" alt="Data de vencimento">
              </div>
              <div class="course-info">
                <div class="progress-container">
                        <div class="neon-bar">
                          <progress class='bar' value='0' max='100'></progress>
                          <span class='bar__value'>0%</span>
                        </div>
                          Prazo Total
                        </span>
                </div>
                <h6>Vencimento: <span id="prazo_date" class="prazo_date">{{ prazo.due |date:'m/d/Y' }}</span> </h6>
                <h2 class="mt-4 mb-4">{{prazo.title }}</h2>
                <p class="descricao">Descrição: <span>{{ prazo.descricao }}</span> </p>
                <button class="btn  bg-danger">{{ prazo.due |timeuntil }}</button>
              </div>
            </div>
          </div>                
        </div>              
      {% endfor %}
      </div>
    </div>
</section>
<div class="section-body">
  <h2 class="section-title">Dashboard</h2>
  <p class="section-lead">
    Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.
  </p>
</div>
   
<!---->
<script>
          
  const progressBar = document.querySelector(".bar"),
  progressBarValue = document.querySelector('.bar__value');


        

          var date1 = new Date();
          var date3 = document.getElementById('prazo_date').innerHTML;
          var date2 = new Date(date3);
          var timeDiff = Math.abs(date2.getTime() - date1.getTime());
          var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
          
  let value = 0;
  const max =  diffDays  ;

  let anim = setInterval(() => {
          if (value == max) {
            clearInterval(anim);
          } else {
            value += 1;
            progressBar.value = value;
            progressBarValue.innerText = value + '%';
          }

  }, 80);


        function progress(timeleft, timetotal, $element) {
    var progressBarWidth = timeleft * $element.width() / timetotal;
    $element.find('div').animate({
      width: progressBarWidth
    }, timeleft == timetotal ? 0 : 1000, "linear");
    if (timeleft > 0) {
      setTimeout(function() {
        progress(timeleft - 1, timetotal, $element);
      }, 1000);
    }
  };    
</script>

{% block script %}

{% endblock %}
{% endblock %}
