{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
  <title>EducaOne | Dashboard de Gerenciamento administrativo  </title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/Charts.js/2.8.0/Chart.min.css" rel="stylesheet" />
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <!-- CSS Libraries -->
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="{% static 'node_modules/jqvmap/dist/jqvmap.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/summernote/dist/summernote-bs4.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/management/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/management/owl.theme.default.min.css'%}">
  <link href="{% static 'management/plugins/nprogress/nprogress.css" rel="stylesheet' %}" />

  <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" /> 
    
    <link rel="stylesheet" href="{% static 'css/messages.css' %}" />   
    <link rel="stylesheet" href="{% static 'management/css/style.css' %}">
    <link id="sleek-css" rel="stylesheet" href="{% static 'management/css/sleek.css' %}" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <script src="https://kit.fontawesome.com/55bcbae4d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
  
    </style>


</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg bg-background"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto"  method='GET' class='' action='.'>
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>          
        </form>
        <ul class="navbar-nav navbar-right">        
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notificações
                <div class="float-right">
                  <a href="#">Mark All As Read</a>
                </div>
              </div>
              <div class="dropdown-list-content dropdown-list-icons">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <div class="dropdown-item-icon bg-primary text-white">
                    <i class="fas fa-code"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Template update is available now!
                    <div class="time text-primary">2 Min Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="far fa-user"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>You</b> and <b>Dedik Sugiharto</b> are now friends
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-success text-white">
                    <i class="fas fa-check"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-danger text-white">
                    <i class="fas fa-exclamation-triangle"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Low disk space. Let's clean it!
                    <div class="time">17 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <div class="dropdown-item-icon bg-info text-white">
                    <i class="fas fa-bell"></i>
                  </div>
                  <div class="dropdown-item-desc">
                    Welcome to Stisla template!
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
              <div class="dropdown-footer text-center">
                <a href="#">Ver todas <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            {% if user.is_authenticated %}
            {% if user.img  %}
              <img alt="image" src="{{ user.img.url }}" class="online rounded-circle mr-1">
            {% else %}
              <img alt="image " src="{% static 'management/img/avatar/avatar-5.png' %}" class="off rounded-circle mr-1">
            {% endif %}
            {% endif %}
            {% if user.is_authenticated %}
            <div class="d-sm-none d-lg-inline-block">{{ user }}</div></a>
            {% else %}
            <div class="d-sm-none d-lg-inline-block"> Desconetado</div></a>
            {% endif %}
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title"> Conectou: <span >{{ user.last_login |date:"f" }}</span> Min</div>
              <a href="#" class="dropdown-item has-icon">
                <i class="far fa-user"></i> {{ user }}</a>
              <a href="features-activities.html" class="dropdown-item has-icon">
              {% if user.is_authenticated %}
                <i style = "color:#00ff00" class="fas fa-bolt"></i> Ativo
              {% else %}
                 <i class="fas fa-bolt"></i> Activities
              {% endif %}
              </a>
              <a href="{% url 'habilidades' request.user.id %}" class="dropdown-item has-icon">
                <i class="fas fa-cog"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="{% url 'index' %}">
              <img width="150" class="logo-dashboard mt-3 " src="{% static 'img/logotipo.png' %}" alt="logotipo">
            </a>
            <hr>
          </div>        
          <div class="sidebar-brand sidebar-brand-sm mt-2">
            <a href="{% url 'index' %}">
              <img width="40" class="logo-icon" src="{% static 'img/favicon.png' %}" alt="logo-icon">
            </a>
            <hr>
          </div>
          <ul class="sidebar-menu mt-3">
            <li class="menu-header">Dashboard</li>
            <li class="nav-item dropdown active">
              <a href="#" class="nav-link "><i class="fas fa-desktop"></i><span>Manager</span></a>
            </li>
             <li class="nav-item dropdown ">
              <a href="{% url 'students:student_course_list'  %}" class="nav-link "><i class="fas fa-id-card"></i><span>Alunos</span></a>
            </li>                        
              <li class="menu-header">Financeiro</li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown"><i class="fa fa-line-chart"></i> <span>Contabilidade</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="#">Manager</a></li>
                  <li><a class="nav-link" href="#">Receitas</a></li>
                  <li><a class="nav-link" href="#">Despesas</a></li> 
                  <li><a class="nav-link" href="#">Multas</a></li>
                  <li><a class="nav-link" href="#">Inadinplências</a></li>
                  <li><a class="nav-link" href="#">Acordos</a></li>
                  <li><a class="nav-link" href="#">Jurídico</a></li>
                  <li><a class="nav-link" href="#">Cobranças</a></li>
                </ul>
              </li>             
            </ul>

            <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
              <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
                <i class="fas fa-rocket"></i> Documentation
              </a>
            </div>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">       
            {% if messages %}
            <div class="section-body" style="width: 100%; position: absolute; z-index: 99999;">
              {% for message in messages %} 
                {% if message.tags == 'error' %}    
                  <div  class="section-header border-error" id="messages">
                          <h1 class="position-absolute ml-2 mb-4 error">Ops.....</h1>
                          <br>
                          <p class="mt-4 ml-2">{{ message }}.</p>
                          <div class="section-header-breadcrumb">       
                            <i style="font-size: 70px; " class="fas fa-window-close text-danger"></i>
                          </div>
                  </div>          
                {% elif message.tags == 'success' %}
                  <div class="section-header border-success" id="messages">
                          <h1 class="position-absolute ml-2 mb-4 success">Parabéns.....</h1>                      
                          <p class="mt-5 ml-2">{{ message }}.</p>
                          <div class="section-header-breadcrumb">       
                            <i style="font-size: 70px; " class="fas fa-check-square success"></i>
                          </div>
                  </div>                
                {% elif message.tags == 'info' %}                 
                  <div class="section-header border-info" id="messages">
                          <h1 class="position-absolute ml-2 mb-4 info">Informativo.....</h1>
                          <br>
                          <br>
                          <p class="mt-4 ml-2">{{ message }}.</p>
                          <div class="section-header-breadcrumb">       
                            <i style="font-size: 70px; " class="fas fa-info-circle info"></i>
                          </div>
                  </div>
                {% endif %}
              {% endfor %}    
            </div>              
            {% endif %}                
            {% block management %}

            {% endblock %}         
        </section>
      </div>
    <div>
    <footer class="main-footer">
      <div class="footer-left">
        Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
      </div>
      <div class="footer-right">
        2.3.0
      </div>
    </footer>
    </div>
  </div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/Charts.js/2.8.0/Chart.min.css"></script>

<script type="text/javascript" src="{% static 'js/condominio.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contabilidade.js' %}"></script>

<script src="{% static 'management/js/stisla.js' %}"></script>
<script src="{% static 'management/js/circle-progress.min.js' %}"></script>

<!-- JS Libraies -->
<script src="{% static 'node_modules/jquery-sparkline/jquery.sparkline.min.js' %}"></script> 
<script src="{% static 'node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'node_modules/charts/dist/Chart.min.js' %}"></script>

<script src="{% static 'node_modules/summernote/dist/summernote-bs4.js' %}"></script>
<script src="{% static 'node_modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
<script src="{% static 'plugins/nprogress/nprogress.js' %}"></script>
<script src="{% static 'management/plugins/circle-progress/circle-progress.js' %}"></script>  
<script src="{% static 'node_modules/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.indonesia.js' %}"></script>


<!-- Template JS File -->
<script src="{% static 'management/js/scripts.js' %}"></script>
<script src="{% static 'management/js/script-dashboard.js' %}"></script>
<script src="{% static 'management/js/custom.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script><!-- jQuery -->

<!-- Page Specific JS File -->
<script src="{% static 'js/circliful.js' %}"></script>

<script src="{% static 'management/plugins/data-tables/jquery.datatables.min.js' %}"></script>
<script src="{% static 'management/plugins/data-tables/datatables.bootstrap4.min.js' %}"></script>
<script src="{% static 'management/plugins/data-tables/datatables.responsive.min.js' %}"></script>
<script src="{% static 'node_modules/charts/dist/Chart.min.js' %}"></script>


<!-- Page Specific JS File -->
<script src="{% static 'management/js/page/index-0.js' %}"></script>
<script src="{% static 'management/js/page/index.js' %}"></script>
<script src="{% static 'management/js/page/components-statistic.js' %}"></script>
<script src="{% static 'js/circle-progress.min.js' %}"></script>


   
  <!-- Additional Plugins and JavaScript -->
  <script src="{% static 'js/navigation.js' %}" defer></script><!-- Header Navigation JS Plugin -->
  <script src="{% static 'js/jquery.flexslider-min.js' %}" defer></script><!-- FlexSlider JS Plugin -->
  <script src="{% static 'js/jquery-asRange.min.js' %}" defer></script><!-- Range Slider JS Plugin -->
  <script src="{% static 'js/circle-progress.min.js' %}" defer></script><!-- Circle Progress JS Plugin -->
  <script src="{% static 'js/afterglow.min.js' %}" defer></script><!-- Video Player JS Plugin -->
  <script src="{% static 'js/script.js' %}" defer></script><!-- Custom Document Ready JS -->
  <script src="{% static 'js/script-dashboard.js' %}" defer></script><!-- Custom Document Ready for Dashboard Only JS -->
    <script> 

    setTimeout(function () {
      document.getElementById("messages").style.display = "none";
    }, 4000);
    function hide(){
    document.getElementById("messages").style.display = "none";
    }
  </script>

  <!-- Created By CodingNepal - www.codingnepalweb.com -->
  {% block scripts %}

  {% endblock %}
</body>
</html>
