{% extends 'management.html' %}
{% load static %}





{% block management %}

<style>
  .add i
  {
    font-size: 40px;
  }

  .add i:hover
  {
    color: yellowgreen;
  }

  .helptext
  {
    font-size: 10px;
    color: #ccc;
  }
</style>

<div style="height: 110px!important;" class="section-header">
    <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Curso</h5>
    <br>
    <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">{{ course.title }}</h1>
    <div class="section-header-breadcrumb">       
        <i style="font-size: 70px; color: #000066;" class="fas  fa-server"></i>
    </div>
    </div>

    <div class="section-body">
      <a href="{% url 'teachers:detail' course.id %}">
        <div class=" float-left icon-top text-dark add"  data-toggle="tooltip" data-placement="top" title="Voltar">
          <i class="fas fa-reply-all"></i>
        </div>
      </a>
      <br>
        <h2 class="section-title">Adicionar Novo Módulo</h2>
        <p class="section-lead">
           Adicionando um novo Módulo do curso .
        </p>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">         
                <div class="card">
              <div class="card-header">
                <h4>Formulário para um novo course</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-danger">
                  <b>Nota!</b> Os dados devem ser verdadeiro.
                </div>
                <form action="." method="POST"  enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <p><label for="id_id">Titulo:</label> 
                      <input class="form-control" value="{{ codigo_despesa }}" type="text" name="title" maxlength="150" id="ititulo"> <span class="helptext">Titulo do curso</span></p>
                  </div>
                </div>                
               
                  </div> 
                    <div class="card-footer text-left">
                      <button class="btn btn-success mr-1" type="submit">Cadastrar</button>
                      <button class="btn btn-danger" type="reset">Cancelar</button>
                      </form>
                    </div>
                  </div>            
          </div>            
      </div>         
  </div> 


{% endblock %}