{% extends 'teachers/base.html' %}
{% load course_tags %}  
{% load static %}





{% block management %}
<style type="text/css">
  
.add i , .voltar i
{
  font-size: 40px;
 
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/components.css' %}">
<script src="https://kit.fontawesome.com/55bcbae4d6.js" crossorigin="anonymous"></script>
<div style="height: 110px!important;" class="section-header">
  <h5 style="margin-top: -28px; color:#cccccc;" class="position-absolute ml-2 mb-4">Modulo</h5>
  <br>
  <h1 style="color: #8898aa; font-size: 40px;" class="mt-4 ml-2">{{ module.title |slice:"40"}}</h1>
  <div class="section-header-breadcrumb">       
    <i style="font-size: 70px; color: #000066;" class="fas fa-sitemap"></i>
  </div>
</div>
<div class="section-body" id="course-detail"> 
  <a href="{% url 'teachers:detail' course.id %}">
    <div class=" float-left icon-top text-dark voltar"  data-toggle="tooltip" data-placement="top" title="Volar">
      <i class="fas fa-reply-all"></i>
    </div>
  </a>    
  <br> 
  <h2 class="section-title">Conteúdo do Modulo </h2>
  <p class="section-lead">
    As aula do modulo <strong class="text-primary">{{ module.title }}</strong>
  </p>
    <div class="row">
      <div class="col-12">
                <div class="card mb-0">
                  <div class="card-body">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">Todos<span class="badge badge-white">{{ lessons.count }}</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'courses:lesson_content_create' module.id  %}"> Video <span class="badge badge-primary">{{ videos }}</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Texto <span class="badge badge-primary">0</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Image <span class="badge badge-primary">0</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">File<span class="badge badge-primary">0</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4>A lista de Conteúdo</h4>
          </div>
          <div class="card-body">         
            <div class="float-right">
              <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-append">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
              </form>
            </div>
            <div class="clearfix mb-3"></div>
            <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th>Id</th>
                          <th>Title</th>                          
                          <th>Duração</th>
                          <th>Status</th>
                          <th>Conteúdo</th>
                        </tr>
                        {% for i in lessons %}
                        <tr>
                          <td>Nº <strong>{{ i.id }}</strong></td>
                          <td>{{ i.title }}
                            <div class="table-links">
                              <a href="{% url 'courses:release_lesson' i.id %}" class="text-success">Liberar</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-info">Editar</a>
                              <div class="bullet"></div>
                              <a href="{% url 'courses:delete_lesson' i.id %}" class="text-danger">Deletar</a>
                            </div>
                          </td>                       
                          <td>{{ i.duration }}</td>
                          <td>
                            {% if i.is_active == False %}           
                              <span class="material-symbols-outlined text-danger">lock</span> 
                            {% else %}
                              <span class="material-symbols-outlined text-success">lock_open_right</span>
                            {% endif %}
                          </td>
                          <td><div class="badge badge-primary">Video</div></td>
                        </tr>
                        {% endfor %}
                      
                      </table>
            </div>
            <div class="float-right">
                      <nav>
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}

