{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Youdemi</title>
  <meta name="title" content="Youdemi">
  <meta name="description" content="This is a education html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">

  <!-- 
    - custom font link
  -->
  <link rel="stylesheet" href="{% static 'assets/font/font.css' %}">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'assets/images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'assets/images/hero-bg.png' %}">

</head>

<body>
	  <!-- 
    - PRELOADER
  -->

  <div class="preloader" data-preloader>
    <div class="circle" data-circle></div>
  </div>
  <!-- 
    - #HEADER
  -->

{% block index %}


{% endblock %}
<!-- 
    - #FOOTER
  -->

  <footer class="footer has-bg-image" style="background-image: url('{% static "assets/images/footer-bg.png"%}')">

    <div class="section footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'assets/images/logo-footer.svg' %}" width="145" height="27" alt="Youdemi home">
          </a>

          <p class="title-sm footer-text">
            Lorem ipsum amet, consectetur adipiscing elit. Suspendis varius enim eros elementum tristique. Duis cursus.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <img src="{% static 'assets/images/facebook.svg' %}" width="40" height="40" loading="lazy" alt="facebook">
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <img src="{% static 'assets/images/twitter.svg' %}" width="40" height="40" loading="lazy" alt="twitter">
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <img src="{% static 'assets/images/pinterest.svg' %}" width="40" height="40" loading="lazy" alt="pinterest">
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <img src="{% static 'assets/images/instagram.svg' %}" width="40" height="40" loading="lazy" alt="instagram">
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="headline-sm footer-list-title">Links</p>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Home</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">About Us</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Pricing</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Courses</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Contact Us</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Blog</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="headline-sm footer-list-title">Legal</p>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Legal</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Tearms of Use</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Tearm & Condition</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Payment Method</a>
          </li>

          <li>
            <a href="#" class="title-sm footer-link">Privacy Policy</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>

            <p class="headline-sm footer-list-title">Instagram Post</p>

            <ul class="grid-list">

              <li>
                <img src="{% static 'assets/images/ins-1.png' %}" width="80" height="80" loading="lazy" alt="instagram post"
                  class="img-cover">
              </li>

              <li>
                <img src="{% static 'assets/images/ins-2.png' %}" width="80" height="80" loading="lazy" alt="instagram post"
                  class="img-cover">
              </li>

              <li>
                <img src="{% static 'assets/images/ins-3.png' %}" width="80" height="80" loading="lazy" alt="instagram post"
                  class="img-cover">
              </li>

              <li>
                <img src="{% static 'assets/images/ins-4.png' %}" width="80" height="80" loading="lazy" alt="instagram post"
                  class="img-cover">
              </li>

              <li>
                <img src="{% static 'assets/images/ins-5.png' %}" width="80" height="80" loading="lazy" alt="instagram post"
                  class="img-cover">
              </li>

              <li>
                <img src="{% static 'assets/images/ins-6.png' %}" width="80" height="80" loading="lazy" alt="instagram post"
                  class="img-cover">
              </li>

            </ul>

          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          © Copyright 2022 | Youdemi Template | All Rights Reserved by codewithsadee
        </p>

      </div>
    </div>

  </footer>





  <!-- 
   - custom js link
  -->
  <script src="{% static 'assets/js/script.js' %}"></script>

  <!-- 
    - ionicon
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>