{% extends 'teachers/base.html' %}
{% load static %}
{% load course_tags %}  




{% block management %}
<style type="text/css">
.add-courses i
{
  font-size: 40px;
}
</style>
<div class="row">     
  <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">Gestão de Cursos
              <div class="dropdown d-inline ml-2">
                      {% if month == '1' %}                      
                      <a href="#" class="font-weight-600 dropdown-toggle"> Janeiro</a>
                      {% elif month == '2' %}
                      <li><a href="#" class="font-weight-600 dropdown-toggle"> Fevereiro</a></li>
                      {% elif month == '3' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Março</a>
                      {% elif month == '4' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Abril</a>
                      {% elif month == '5' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Maio</a>
                      {% elif month == '6' %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Junho</a>
                      {% elif month == '7'  %}
                      <a href="#" class="font-weight-600 dropdown-toggle"> Julho</a>
                      {% elif month == '8' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Agosto</a>
                      {% elif month == '9' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Setembro</a>
                      {% elif month == '10' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Outubro</a>
                      {% elif month == '11' %}
                      <a href="#" class="font-weight-600 dropdown-toggle">Novembro</a>
                      {% else %}
                      <a href="#" class="font-weight-600 "> Dezembro</a>
                      {% endif %}                      
              </div>
            </div>
            <div class="card-stats-items">
              <div class="card-stats-item">
                      {% if projetos > 0%}
                      <div class="card-stats-item-count">{{ projetos }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Projetos</div>
              </div>
              <div class="card-stats-item">
                      {% if publicados > 0 %}
                      <div class="card-stats-item-count text-su">{{ publicados }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Publicados</div>
              </div>
              <div class="card-stats-item">
                      {% if cancelados > 0 %}
                      <div class="card-stats-item-count">R$:{{ cancelados }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Cancelados</div>
              </div>
            </div>
          </div>
          <div class="card-icon shadow-primary ">
            <i class="fas fa-id-card"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
                    <h4>Total de Cursos</h4>
            </div> 
            {% if total > 0 %}               
            <div class="card-body">
                   <span class="text-success"> + {{ total }}</span>
            </div>
            {% elif total < 0 %}
            <div class="card-body">
                    <span class="text-danger"> {{ total }}</span> 
                   </div> 
                   {% else %}
                   <div class="card-body">
                    0
                   </div> 
                   {% endif %}                  
          </div>
        </div>
  </div> 
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-statistic-2">
      <div class="card-stats">
        <div class="card-stats-title">Gerenciamento de Alunos </div>
        <div class="card-stats-items">
                    <div class="card-stats-item">
                      {% if despesas_aberta > 0 %}
                      <div class="card-stats-item-count">{{ despesas_aberta  }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Ativos</div>
                    </div>
                    <div class="card-stats-item">
                      {% if despesas_paga > 0 %}
                      <div class="card-stats-item-count text-su">R$: {{ despesas_paga }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Pagantes</div>
                    </div>
                    <div class="card-stats-item">
                      {% if despesas_atrasadas > 0 %}
                      <div class="card-stats-item-count">{{ despesas_atrasadas }}</div>
                      {% else %}
                      <div class="card-stats-item-count">0</div>
                      {% endif %}
                      <div class="card-stats-item-label">Cancelados</div>
                    </div>
        </div>
      </div>
      <div class="card-icon shadow-primary ">
                  <i class="fas fa-child"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Total de Alunos</h4>
          </div> 
        {% if request.user.students.count > 0 %}               
          <div class="card-body">
            <span class="text-success"> + {{ request.user.students.count }}</span>
          </div>       
        {% else %}
        <div class="card-body">
          0
        </div> 
        {% endif %}                  
      </div>
    </div>
  </div> 
  <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2">
          <div class="card-stats">
            <div class="card-stats-title">Gestão do Financeiro</div>
            <div class="card-stats-items">
              <div class="card-stats-item">
                      {% if condominio.lancamento_futuro > 0%}
                      <div class="card-stats-item-count">{{ condominio.lancamento_futuro  }}</div>
                      {% else %}
                      <div class="card-stats-item-count">R$ 0,00</div>
                      {% endif %}
                      <div class="card-stats-item-label">Analise</div>
              </div>
              <div class="card-stats-item">
                {% if condominio.receitas > 0 %}
                  <div class="card-stats-item-count text-su">{{ condominio.receitas }}</div>
                {% else %}
                  <div class="card-stats-item-count">R$ 0,00</div>
                {% endif %}
                <div class="card-stats-item-label">Ativos</div>
              </div>
              <div class="card-stats-item">
                {% if condominio.inadinplencia > 0 %}
                  <div class="card-stats-item-count">R$:{{ condominio.inadinplencia }}</div>
                {% else %}
                  <div class="card-stats-item-count">R$ 0,00</div>
                {% endif %}
                <div class="card-stats-item-label">Cancelados</div>
              </div>
            </div>
          </div>
          <div class="card-icon shadow-primary ">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="card-wrap">
                  <div class="card-header">
                    <h4>Total</h4>
                  </div>
                  <div class="card-body">R$ 
                  {% if receitas_valor_total > 0 %}          
                   <span class="text-success"> + {{ receitas_valor_total }}</span>              
                  {% elif receitas_valor_total < 0 %}                 
                    <span class="text-danger"> {{ receitas_valor_total }}</span>                    
                   {% else %}                  
                    0,00                   
                   {% endif %}
                   </div>                  
          </div>
        </div>
  </div>        
</div>
<div class="section-body">
  <a href="{% url 'courses:create_courses' %}">
    <div class=" float-right icon-top text-dark add-courses"  data-toggle="tooltip" data-placement="top" title="Criar Cursos">
      <i class="fas fa-plus"></i>
    </div>
  </a>
  <br> 
  <h2 class="section-title">Courses</h2>
  <p class="section-lead">
    Mais de 8 Milhões de Alunos Satisfeitos em +300 Cursos Online. Mensalidades com Certificado 100% Válido!.
  </p>
      <div class="row mt-4">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Todos os cursos</h4>
            </div>
            <div class="card-body">
              <div class="float-left">
              </div>
              <div class="float-right">
                      <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-append">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form>
              </div>
              <div class="clearfix mb-3"></div>
                <div class="table-responsive">
                <table class="table table-striped">
                  <tr>
                          <th>Capa</th>                       
                          <th>Title</th>
                          <th>Category</th>                       
                          <th>Created At</th>
                          <th>Status</th>
                  </tr>
                  {% for course in courses %}
                  <tr> 
                  <td>
                    <a href="{% url 'teachers:detail' course.id %}">
                      <img alt="image" src="{{ course.poster }}" class="" width="50" data-toggle="title" title="">
                    </a>
                  </td>                         
                          <td>{{ course.title }}
                            <div class="table-links">
                              <a href="{% url 'courses:released_course' course.id %}" class="text-success">Liberar</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-info">Editar</a>
                              <div class="bullet"></div>
                              <a href="#" class="text-danger">Deletar</a>
                            </div>
                          </td>
                          <td>
                            {% for categoria in course.subject.all %}
                              <a href="#">{{ categoria}},</a>
                              {% endfor %}
                            
                          </td>                    
                          <td>{{ course.created |date }}</td>
                          <td>
                            {% if course.status == 'projeto' %}
                            <div class="badge badge-info">{{course.status |title}}</div>
                            {% elif course.status == 'analizando' %}
                            <div class="badge badge-warning">{{course.status |title}}</div>
                            {% elif course.status == 'cancelado' %}
                            <div class="badge badge-danger">{{course.status |title}}</div>
                            {% else %}
                            <div class="badge badge-success">{{course.status |title}}</div>
                            {% endif %}
                          </td>
                  </tr>
                  {% endfor %}
                </table>
                </div>
              <div class="float-right">
                      <nav>
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#">3</a>
                          </li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
