{% extends 'students/base.html' %}
{% load static %}
{% load course_tags %}  




{% block students %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" 
          crossorigin="anonymous">
 <script src="https://kit.fontawesome.com/55bcbae4d6.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" type="text/css" href="{% static 'css/students.css'%}">
<div class="section-body mb-5">
    <h2 class="section-title">
                O último curso que você visualizou <strong class="text-primary">{{ request.user.name | title }}</strong>
    </h2>
    <p class="section-lead">
                Cursos online gratuitos com material e certificado incluídos. Práticas pedagógicas inovadoras.
    </p>
    <div class="row">
        {% if learning == None %}
            <div class="col-12 mt-5">
                <h5 class="d-flex justify-content-center">Você não comecou nenhuma aula ainda</h5>
            </div>
        {% else %}
            {% for a in analytics %}
                {% if a.course.id == learning.course.id %}           
                    <div class="col-12">
                        <div class="courses-container">
                            <div class="course">
                                <div class="course-preview">
                                    <a href="{% url 'students:detail' learning.course.id %}">
                                        <img src="{{ learning.course.poster }}">
                                    </a>
                                </div>
                                <div class="course-info">                           
                                    <h6 class="float-right">{{ learning.course.categorie }}</h6>
                                    <h2>{{ learning.course.title |slice:"35" }}</h2>
                                    <div class="meta-wrapper mt-4 d-flex justify-content-between align-items-center">         
                                        <div class="date-time">                   
                                            <span class="material-symbols-outlined text-info">calendar_month</span>
                                            <span datetime="2021">{{ learning.course.created | date }}</span>
                                        </div> 
                                        <div class="date-students">                   
                                            <span class="material-symbols-outlined success">background_replace</span>
                                            <span>{{ a.students }}</span>
                                            <span>Alunos</span>
                                        </div>
                                        <div class="modulos">
                                            <span class="material-symbols-outlined text-warning">web</span>
                                             <span>{{ a.module }}</span>
                                             <span> Modulos</span>                      
                                        </div>                            
                                        <div class="video">
                                            <span class="material-symbols-outlined text-primary">live_tv</span>
                                             <span>{{ a.lesson }}</span>
                                             <span> Aulas</span>                      
                                        </div>
                                        <div class="hour">
                                             <span class="material-symbols-outlined text-danger">schedule</span>
                                            <time datetime="PT115M">{{ learning.course.duration | duration }}</time>
                                        </div>                   
                                    </div>
                                    <div class="course-progress">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {% percent a.lesson a.views %}%">
                                                    <span class="sr-only">{{ learning.course.complete_per}}0% Complete (warning)</span>
                                                </div>
                                                <span class="progress-type">{{ learning.course.categorie }} </span>
                                                <span class="progress-completed">{% percent a.lesson a.views %}%</span>
                                            </div>                                 
                                    </div>                            
                                </div>                       
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}            
        {% endif %} 
        </div>
        <br>
        <br>
        <br>
        <br>
        <h2 class="section-title">Lista dos seus cursos</h2>
        <p class="section-lead">
            Cursos online gratuitos com material e certificado incluídos. Práticas pedagógicas inovadoras.
        </p>
        <br>
        <div class="row">
        {% for i in students %}
         <div class="col-3 mr-5">
                <div class="card">
                <div class="card__header">
                <a href="{% url 'students:detail' i.id %}"><img src="{{ i.poster }}" alt="card__image" class="card__image" ></a>
                </div>                
                {% for a in analytics %}
                {% if a.course.id == i.id %}
                <div class="card__body">
                    <span class="tag tag-blue">{{ i.categorie }}</span>
                    <h4><a href="{% url 'students:detail' i.id %}">{{ i.title | slice:"31"}}</a></h4>
                    <div class="bar-holder">
                        <div style="width:{% percent a.lesson a.views %}%;" class="bar-1"></div>
                    </div>
                    <div class="meta-wrapper mt-4 d-flex justify-content-between align-self-stretch">              
                        <div class="date-students">                   
                            <span class="material-symbols-outlined success">background_replace</span>
                            <span>{{ a.students }}</span>
                            <span>Alunos</span>
                        </div>                                              
                        <div class="video">
                            <span class="material-symbols-outlined text-primary">live_tv</span>
                            <span>{{ a.lesson }}</span>
                            <span> Aulas</span>                      
                        </div>
                        <div class="hour">
                            <span class="material-symbols-outlined text-danger">schedule</span>
                            <time datetime="PT115M">{{ i.duration | duration }}</time>
                        </div>                   
                    </div>
                    {% if reviews %}
                    {% for r in reviews %}
                    {% if r.course.id  == i.id %}
                     <div class="d-lg-flex align-items-center mt-4">
                        <div class="star-rating mb-2 mb-lg-0">
                            <div class="rating" style="width:25%;"></div>
                        </div>
                        <div class="font-size-sm ms-lg-3 text-dark ml-2">
                            <span>
                            {{ rating }}
                            {% if reviews.count > 1000 %}
                            1k+ reviews)
                            {% elif reviews.count > 2000 %}
                            2k+ reviews)
                            {% elif reviews.count > 3000 %}
                            3k+ reviews)
                            {% elif reviews.count > 4000 %}
                            4k+ reviews)
                            {% elif reviews.count > 5000 %}
                            5k+ reviews)
                            {% else %}
                            ({{ reviews.count }} reviews)
                            {% endif %}
                            </span>
                        </div>
                    </div>
                    <p>A sua avaliação</p>
                    {% else %}
                     <div class="d-lg-flex align-items-center mt-4">
                        <div class="star-rating mb-2 mb-lg-0">
                            <div class="rating" style="width:0%;"></div>
                        </div>
                        <div class="font-size-sm ms-lg-3 text-dark ml-2">
                            <span>                        
                            (0 reviews)                           
                            </span>
                        </div>                        
                    </div>
                    <p>Faz sua avaliação</p>
                    {% endif %}                    
                    {% endfor %}                  
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
                <div class="card__footer">
                    <div class="user">
                        {% if i.owner.img  %}
                        <img src="{{ i.owner.img.url }}" alt="user__image" class="user__image">
                        {% else %}
                        <img src="{% static 'img/te2.jpg' %}" alt="user__image" class="user__image">
                        {% endif %}
                        <div class="user__info">
                          <h5>{{ i.owner | title }}</h5>
                          <small>{{ i.created | date}}</small>
                        </div>
                    </div>
                </div>
                </div>
              </div> 
       
        {% endfor %}
    </div>
</div>    
{% endblock %}
